[submodule ".vim/pack/vendor/start/ale"]
	path = .vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/pack/vendor/start/vim-prettier"]
	path = .vim/pack/vendor/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
	branch = master
[submodule ".vim/pack/vendor/start/emmet-vim"]
	path = .vim/pack/vendor/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/vendor/start/vim-surround"]
	path = .vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/vendor/start/auto-pairs"]
	path = .vim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/vendor/start/tagbar"]
	path = .vim/pack/vendor/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule ".vim/pack/coc/start/coc.nvim"]
	path = .vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule ".vim/pack/vim-javascript/start/vim-javascript"]
	path = .vim/pack/vim-javascript/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/vim-jsx-pretty/vim-jsx-pretty"]
	path = .vim/pack/vim-jsx-pretty/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule ".vim/pack/vim-snippets"]
	path = .vim/pack/vim-snippets
	url = git@github.com:honza/vim-snippets.git
